.row {
    height: 100vh;
    background-color: rgb(123, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home {
    background-color: rgb(4, 202, 136);
}
h1 {
    font-size: 60px;
}
input:focus {
    background-color: rgb(4, 202, 136) !important;
}


